USE [Superstore]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Harold Pagan	
-- Create date: 4/16/2024
-- Update date: 5/31/2026
-- Description:	Create a Customer and return new ID
-- EXEC CreateCustomer @FirstName = 'Harold', @LastName = 'Pagan', @SegmentID = 1
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[CreateCustomer]
	@FirstName NVARCHAR(50),
	@LastName  NVARCHAR(50), 
	@SegmentID INT
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN TRY
		INSERT INTO dbo.Customer(FirstName, LastName, SegmentID)
		VALUES(@FirstName, @LastName, @SegmentID);

		-- Return the newly created ID to support REST API location context
		SELECT SCOPE_IDENTITY() AS NewCustomerID;
	END TRY
	BEGIN CATCH
		THROW;
	END CATCH;
END;
GO
