USE [Superstore]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Harold Pagan	
-- Create date: 4/14/2026
-- Update date: 5/30/2026
-- Description:	Create an Address for Customer
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[CreateAddress]
	@AddressLine1 NVARCHAR(25),
	@AddressLine2 NVARCHAR(25) = NULL, -- Optional parameter fallback
	@City NVARCHAR(50),
	@StateID INT,
	@CountryID INT,
	@PostalCode INT,
	@RegionID INT,
	@AddressTypeID INT,
	@CustomerID INT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		INSERT INTO dbo.Address (
			AddressLine1, AddressLine2, City, StateID, CountryID, 
			PostalCode, RegionID, AddressTypeID, CustomerID
		)
		VALUES (
			@AddressLine1, @AddressLine2, @City, @StateID, @CountryID, 
			@PostalCode, @RegionID, @AddressTypeID, @CustomerID
		);

		-- Returns the new ID to support REST API location headers
		SELECT SCOPE_IDENTITY() AS NewAddressID;
	END TRY
	BEGIN CATCH
		THROW;
	END CATCH;
END;
GO
