USE [Superstore]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Harold Pagan	
-- Create date: 4/14/2024
-- Update date: 5/31/2026
-- Description:	Get all active Customers with segment info
-- EXEC GetAllCustomers
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[GetAllCustomers]
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN TRY
		SELECT 
			c.CustomerID, 
			c.FirstName, 
			c.LastName, 
			s.Segment
		FROM dbo.Customer AS c
		JOIN dbo.Segment AS s ON c.SegmentID = s.SegmentID
		WHERE c.IsActive = 1;
	END TRY
	BEGIN CATCH
		THROW;
	END CATCH;
END;
GO
