USE [Superstore]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Harold Pagan	
-- Create date: 4/14/2024
-- Update date: 5/31/2026
-- Description:	Get a single Customer with segment descriptive info
-- EXEC GetCustomer @CustomerID = 1
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[GetCustomer]
	@CustomerID INT
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN TRY
		SELECT TOP 1 
			c.CustomerID, 
			c.FirstName, 
			c.LastName, 
			s.Segment
		FROM dbo.Customer AS c
		JOIN dbo.Segment AS s ON c.SegmentID = s.SegmentID
		WHERE c.CustomerID = @CustomerID 
		  AND c.IsActive = 1;
	END TRY
	BEGIN CATCH
		THROW;
	END CATCH;
END;
GO
