USE [Superstore]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Harold Pagan	
-- Create date: 4/16/2026
-- Update date: 5/31/2026
-- Description:	Update a Customer using partial parameters
-- EXEC UpdateCustomer @CustomerID = 1, @FirstName = 'Harold'
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[UpdateCustomer]
	@CustomerID INT,
	@FirstName NVARCHAR(50) = NULL,
	@LastName  NVARCHAR(50) = NULL,
	@SegmentID INT = NULL
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN TRY
		UPDATE dbo.Customer
		SET FirstName = COALESCE(@FirstName, FirstName), 
			LastName = COALESCE(@LastName, LastName), 
			SegmentID = COALESCE(@SegmentID, SegmentID)
		WHERE CustomerID = @CustomerID;
	END TRY
	BEGIN CATCH
		THROW;
	END CATCH;
END;
GO
